<header>
    <div class="header">
        <a href="https://leesscan.louisdhont.ikdoeict.be/">
            <img src="img/icon-leesscan.png" class="logo leesscan">
        </a>
        <div class="header-right">
            <a class="{{value}}" id="link" href="https://leesscan.louisdhont.ikdoeict.be/">Home</a>
            <a class="{{value2}}" id="link" href="https://leesscan.louisdhont.ikdoeict.be/contact">Contacteer ons</a>
        </div>
    </div>
</header>