<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Pagina niet gevonden</title>
    <link rel="stylesheet" href="/css/404style.css">
    <link href="css/footerstyledonker.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="message">
    <h2>404</h2>
    <h1>Pagina niet gevonden</h1>
    <p>Deze specifieke pagina kon niet gevonden worden.</p>
</div>
{{> footer }}
</body>
</html>
